<h1>Friends</h1>
<div style="text-align:right;">
    <div id='lists' style='display: none'>

    <a href='javascript: void(0);' onclick="document.getElementById('lists').style.display='none'; document.getElementById('show_lists').style.display='block';">hide them</a>

    <ul style='list-style: none;'>

        <li><a href='http://www.blogcn.com/user35/lai_fu/index.html' title='永远记得你。' target='_blank'>喇叭</a></li>

        <li><a href='http://chrischeng.spaces.live.com/default.aspx' title='手握手的温暖' target='_blank'>克里斯程</a></li>

        <li><a href='http://www.flickr.com/photos/chiaolin/' title='法语同学' target='_blank'>Chiao Lin</a></li>

        <li><a href='http://spaces.msn.com/members/dandelionchild/PersonalSpace.aspx?owner=1' title='太平洋那头' target='_blank'>虾米</a></li>

        <li><a href='http://viviansun.blogbus.com/index.html' title='真性情女子' target='_blank'>Vivi</a></li>

        <li><a href='http://spaces.msn.com/members/florazian/PersonalSpace.aspx?owner=1' title='Fabulous女宁，千言万语不言中……' target='_blank'>Flora</a></li>

        <li><a href='http://isleheart.spaces.live.com/?owner=1' title='喜欢的写作人又回来啦！真好' target='_blank'>Lisa</a></li>

        <li><a href='http://heartisle.spaces.live.com/' title='无良车曝光榜' target='_blank'>Lisa2</a></li>

        <li><a href='http://atumiu.spaces.live.com/' target='_blank'>摄影师ATU</a></li>

        <li><a href='http://yvonnelibrah.spaces.live.com/default.aspx?owner=1' title='感性的JD' target='_blank'>阿JIA</a></li>

        <li><a href='http://cantonmike.spaces.live.com/?owner=1' title='Super Designer' target='_blank'>Mike</a></li>

        <li><a href='http://spaces.msn.com/members/violetchenchen/PersonalSpace.aspx?owner=1' title='小宁静' target='_blank'>Violet</a></li>

        <li><a href='http://spaces.msn.com/members/annsisu/' title='妖安' target='_blank'>Ann</a></li>

        <li><a href='http://spaces.msn.com/tongfdu/PersonalSpace.aspx' title='科学研究者'  target='_blank'>猫咪</a></li>

        <li><a href='http://aromatse.blogbus.com/' title='' target='_blank'>aroma</a></li>
        
        <li><a href='http://spaces.msn.com/members/chenminyi/PersonalSpace.aspx?owner=1' title='曾非洲逍遥分子，貌似又漂了～～～' target='_blank'>James</a></li>

        <li><a href='http://spaces.msn.com/11210217/' title='北漂追梦女子' target='_blank'>Sweet Crying April</a></li>

        <li><a href='http://chloemaki.spaces.live.com/default.aspx?_c02_owner=1' title='正义班长' target='_blank'>Chloe</a></li>

        <li><a href='http://www.yoyoqi.cn/' title='一只乌龟的缘分' target='_blank'>YOYO</a></li>

        <li><a href='http://elmagong.spaces.live.com/default.aspx?owner=1' title='邻家女生' target='_blank'>Elma</a></li>

        <li><a href='http://gainhiz.spaces.live.com/default.aspx?owner=1' title='在巴黎！' target='_blank'>DU</a></li>

        <li><a href='http://helenwu999.spaces.live.com/default.aspx?owner=1' title='寂寞的享受者' target='_blank'>苏州海伦</a></li>

        <li><a href='http://spaces.msn.com/members/babysitter-iamhigh/PersonalSpace.aspx?owner=1' title='上外2001级第一校草' target='_blank'>LC</a></li>

        <li><a href='http://spaces.msn.com/members/tianzhuguo/PersonalSpace.aspx?owner=1' title='曾经的舞者' target='_blank'>竺晓天</a></li>

        <li><a href='http://spaces.msn.com/members/helensland/PersonalSpace.aspx?owner=1' title='胡思乱想的可人儿' target='_blank'>Helen</a></li>

        <li><a href='http://spaces.msn.com/members/rainyxyl/PersonalSpace.aspx?owner=1' title='升职加班族' target='_blank'>Rainy</a></li>

        <li><a href='http://spaces.msn.com/members/shenfei0221/PersonalSpace.aspx?owner=1' title='积蓄力量狂人' target='_blank'>飞哥</a></li>

        <li><a href='http://liguowei.blshe.com/' title='人人都叫他姐夫' target='_blank'>Geoff</a></li>

        <li><a href='http://spaces.msn.com/members/oliviettaworld/PersonalSpace.aspx?owner=1' title='骑电动车上班族' target='_blank'>米</a></li>

        <li><a href='http://spaces.msn.com/members/tq04jky1981/PersonalSpace.aspx?owner=1' title='潇洒女人' target='_blank'>Amy</a></li>

        <li><a href='http://spaces.msn.com/members/jakechris/PersonalSpace.aspx?owner=1' title='韩国偶像派飘男' target='_blank'>Jake</a></li>

        <li><a href='http://spaces.msn.com/members/annylele/PersonalSpace.aspx?owner=1' title='工作勤奋好姑娘' target='_blank'>小安</a></li>

        <li><a href='http://spaces.msn.com/members/smilepipi/PersonalSpace.aspx?_c=' title='Yeah.So DAMN beautiful.Just as you are...' target='_blank'>Katie</a></li>

        <li><a href='http://spaces.msn.com/members/islouis/' title='中年出轨嫌疑人' target='_blank'>甲鱼</a></li>

    </ul>

    <a href='javascript: void(0);' onclick="document.getElementById('lists').style.display='none'; document.getElementById('show_lists').style.display='block';">hide them</a>

    </div>
    <div id='show_lists'>
        <a href='javascript: void(0);' onclick="document.getElementById('lists').style.display='block'; document.getElementById('show_lists').style.display='none';">show them</a>
    </div>
</div>
