<script src="/javascripts/secret.js" type="text/javascript"></script>

<h1>2009 Resolution</h1>

<div style="text-align:right;">
    <div id='res' style='display: none'></div>
    <div id='show_res'>
        <a id='show_res_a' href='javascript: void(0);' onclick='start_quiz()'>show it</a>
    </div>
</div>

 