<h1>Links</h1>
<div style="text-align:right;">
    <div>

    <ul>
        <li><a href='http://shanghaiist.com/' target='_blank'>Shanghaiist</a></li>

        <li><a href='http://www.rene-liu.com/' target='_blank'>Rene Liu</a></li>

        <li><a href='http://www.dianping.com/member/95811' target='_blank'>Where I ate</a></li>

        <li><a href='http://musicovery.com' target='_blank'>Music</a></li>

        <li><a href='http://www.radiopaq.com' target='_blank'>Radio</a></li>

        <li><a href='http://www.scribbls.com/users/miss_s-1032' target='_blank'>我的联想涂鸦</a></li>


    </ul>

      </div>
</div>
